{% extends "sprint2RealEstateAdminBundle::admin_layout.html.twig" %}
    {% block Image %}
        <img src="{{ image }}" class="img-circle" alt="User Image" />
    {% endblock %}
    {% block offreActive %}
        class="active treeview"
    {% endblock %}

    {% block offreCore %}
       
       <section class="content">
        <div class="row">
            
              <!-- USERS Offre -->
              <div class="col-md-12">
                <ul class="offre-list">
                    {% for offre in offre %}                   
                        <li style="list-style-type: none;">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <img src="{{offre.urlimage}}"  height="150"/>                                  
                                  <h3>{{offre.typeimmob}}</h3>
                                  {% set foo %}
                                    {{offre.position}}
                                  {% endset %}
                                  
                                  <p> {{offre.nbrpiece}} Piece, {{offre.surface}} Metre, Tunisie {{offre.idAdresse.gouvernorat}} {{offre.idAdresse.ville}}</p>
                                </div>

                                <a href="#" class="small-box-footer">
                                  More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
              </div>
        </div>
       </section>       
    {% endblock %}